.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom initailize css */
p {
  margin: 0;
}

/* my css */
.sideList {
  padding: 30px 0;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sideList svg {
  width: 50px;
  height: 50px;
}
.sideList * {
  padding-right: 20px;
  font-size: 25px;
}
.story_profile {
  background-image: linear-gradient(skyblue,blue, dodgerblue)
}
.story img {
  cursor: pointer;
}
.userInfo_line {
  margin-bottom: 20px;
}
.userInfo_follow {
  margin-right: 20px;
}
.clearfix {
  content: '';
  display: block;
}
.profile_grid {
  aspect-ratio: 1;
  padding: 1px;
}
.profile_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.mainscreen {
  padding-left:400px;
  padding-top: 35px;
  padding-bottom: 100px;
}
.form-control {
  border: #0093ED 2px solid;
}
#background_select {
  margin-top: 50px;
}
.background_paper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.search_grid {
  border: 1px solid rgb(205, 201, 201);
  cursor: pointer;
}
.search_grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post_comment svg {
  cursor: pointer;
}
#modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(226, 200, 167, 0.212);
  top: 0;
  left: 0;
}
#modal {
  position: fixed;
  width: 55%;
  height: 95%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.modal_grid {
  width: 50%;
  padding: 1px;
}
.modal_grid img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.modal_grid span {
  font-size: 13px;
}
#comment {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 15px;
  position: relative;
}
#comment img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 16px;
  float: left;
}
#comment div {
  margin-bottom: 10px;
}
#comment_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#comment_input {
  margin-bottom: 0 !important;
}
#selectedKey {
  width: 100%;
  min-height: 40px;
  border: #0093ED 1px solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#modifiable {
  width: 630px;
  height: 891px;
  padding: 25px;
}

/* component references */
.button_case{
  position: relative;
  height: 200px;
  margin-top: 100px;
}
.button_outer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 50px;
    background: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #0093ED;
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
    cursor: pointer;
}

.button_outer:before,
.button_outer:after,
.button_inner:before,
.button_inner:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0093ED;
    transition: 1s;
    mix-blend-mode: hue;
}

.button_outer:before
{
    top: -2px;
    left: -2px
}
.button_outer:after
{
    top: -2px;
    right: -2px;
}
.button_inner:before
{
    bottom: -2px;
    left: -2px
}
.button_inner:after
{
    bottom: -2px;
    right: -2px
}

.button_outer:hover:before,
.button_outer:hover:after,
.button_outer:hover .button_inner:before,
.button_outer:hover .button_inner:after
{
    width: calc( 180px/2 );
    height: calc( 50px/2 )
}