body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for font */
@font-face {
  font-family: "vegan";
  font-seight: normal;
  src: url('./fonts/VeganStylePersonalUse.ttf')
}
@font-face {
  font-family: "poetsenone";
  font-seight: normal;
  src: url('./fonts/PoetsenOne-Regular.ttf')
}